body {
  margin: 0;
}

.nav-bar {
  background-color: lightgray;
}

.nav-button-wrapper {
  margin: 0;
  display: flex;
  gap: 32px;
  align-items: center;
  min-height: 75px;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0 16px;
  flex-wrap: wrap;
}

.nav-button-wrapper a {
  text-decoration: none;
  color: #444444;
  font-family: Helvetica, sans-serif;
}

#hero-section {
  background-color: lightblue;
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
}

.hero-image {
  height: 800px;
  object-fit: contain;
  margin: 0 auto;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 48px;
}

.hero-text-wrapper h1 {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

.hero-text-wrapper h3 {
  font-family: 'Courier New', Courier, monospace;
}

#projects h1 {
  margin: 32px 0;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
}

.project-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 24px;
  row-gap: 24px;
  padding: 0 24px;
}

.project-card h3 {
  font-family: 'Courier New', Courier, monospace;
}

.project-card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.project-card img {
  width: 100%;
}